@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;400;500;700&display=swap');

*{
	font-family: 'Noto Sans KR'
}

.avatar-sm{
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

/* footer 하단 고정*/
html, body {
    height: 100%
}

/* #wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
} */

footer {
    position: relative; (absolute -> relative)
    transform: translatY(-100%);
}


#nav-text {
	font-size: 16px;
	color : #fff;
}

#nav-text:hover {
	font-size: 16px;
	color : #6e2e1a;
}

키워드로 장소검색하고 목록으로 표출하기
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 1);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}



/* 카테고리별 장소 검색하기 */
.map_wrap, .map_wrap * {margin:0; padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap {position:relative;width:100%;height:350px;}
#category {position:absolute;top:10px;right:10px;border-radius: 5px; border:1px solid #909090;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);background: #fff;overflow: hidden;z-index: 2;}
#category li {float:left;list-style: none;width:50px;px;border-right:1px solid #acacac;padding:6px 0;text-align: center; cursor: pointer;}
#category li.on {background: #eee;}
#category li:hover {background: #ffe6e6;border-left:1px solid #acacac;margin-left: -1px;}
#category li:last-child{margin-right:0;border-right:0;}
#category li span {display: block;margin:0 auto 3px;width:27px;height: 28px;}
#category li .category_bg {background:url(../images/places_category.png) no-repeat;}
#category li .bank {background-position: -10px 0;}
#category li .mart {background-position: -10px -36px;}
#category li .pharmacy {background-position: -10px -72px;}
#category li .oil {background-position: -10px -108px;}
#category li .cafe {background-position: -10px -144px;}
#category li .store {background-position: -10px -180px;}
#category li.on .category_bg {background-position-x:-46px;}
.placeinfo_wrap {position:absolute;bottom:28px;left:-150px;width:300px;}
.placeinfo {position:relative;width:100%;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;padding-bottom: 10px;background: #fff;}
.placeinfo:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.placeinfo_wrap .after {content:'';position:relative;margin-left:-12px;left:50%;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.placeinfo a, .placeinfo a:hover, .placeinfo a:active{color:#fff;text-decoration: none;}
.placeinfo a, .placeinfo span {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.placeinfo span {margin:5px 5px 0 5px;cursor: default;font-size:13px;padding-left:5px;padding-right:5px;}
.placeinfo .title {font-weight: bold; font-size:14px;border-radius: 6px 6px 0 0;margin: -1px -1px 0 -1px;padding:10px; color: #fff; background: #FBC02D;background: #FBC02D url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.placeinfo .tel {color:#0f7833; padding-left:5px;padding-right:5px;}
.placeinfo .jibun {color:#999;font-size:11px;margin-top:0;}

.place_btn{
    width:80px;
    height:30px;
    border:none;
    background-color:#f7edd5;
    margin: 10px 10px 0px 10px;
    color:black;
}

  .place-detail-modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  
  .place-detail-modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  
 /* 캐러셀  */
/* @media (min-width: 768px)
{  
	.container 
	{    width: 750px;  }
} */

 .carousel-inner img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}
  
.banner_taital {
    width: 65%;
    float: right;
    margin-top: 145px;
}

.our_text {
    width: 100%;
    float: left;
    color: #fdfefd;
    font-size: 50px;
    font-weight: bold;
}

.gifts_text {
    width: 100%;
    float: left;
    color: #010102;
    font-size: 60px;
    font-weight: bold;
}

.standerd_text {
    width: 100%;
    float: left;
    font-size: 17px;
    color: #010101;
    margin-left: 0px;
}

/* 기능 소개 */
/*---------------------
  Form BLog
-----------------------*/

.from-blog {
	padding-top: 50px;
	padding-bottom: 50px;
}

.from-blog .blog__item {
	margin-bottom: 30px;
}

.from-blog__title {
	margin-bottom: 70px;
}

.section-title {
	margin-bottom: 50px;
	text-align: center;
}

.section-title h2 {
	color: #1c1c1c;
	font-weight: 700;
	position: relative;
}

.section-title h2:after {
	position: absolute;
	left: 0;
	bottom: -15px;
	right: 0;
	height: 4px;
	width: 80px;
	background: #FFC107;
	content: "";
	margin: 0 auto;
}

.blog__item {
	margin-bottom: 60px;
}

.blog__item__pic img {
	min-width: 100%;
}

.blog__item__text {
	padding-top: 25px;
}

.blog__item__text ul {
	margin-bottom: 15px;
}

.blog__item__text ul li {
	font-size: 16px;
	color: #b2b2b2;
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}

.blog__item__text ul li:last-child {
	margin-right: 0;
}

.blog__item__text h5 {
	margin-bottom: 12px;
}

.blog__item__text h5 a {
	font-size: 20px;
	color: #1c1c1c;
	font-weight: 700;
}

.blog__item__text p {
	margin-bottom: 25px;
}

.blog__item__text .blog__btn {
	display: inline-block;
	font-size: 14px;
	color: #1c1c1c;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 1px solid #b2b2b2;
	padding: 14px 20px 12px;
	border-radius: 25px;
}

.blog__item__text .blog__btn span {
	position: relative;
	top: 1px;
	margin-left: 5px;
}

.blog__pagination {
	padding-top: 5px;
	position: relative;
}

.blog__pagination:before {
	position: absolute;
	left: 0;
	top: -29px;
	height: 1px;
	width: 100%;
	background: #000000;
	opacity: 0.1;
	content: "";
}

/*---------------------
  Blog Sidebar
-----------------------*/

.blog__sidebar {
	padding-top: 50px;
}

.blog__sidebar__item {
	margin-bottom: 50px;
}

.blog__sidebar__item h4 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 25px;
}

.blog__sidebar__item ul li {
	list-style: none;
}

.blog__sidebar__item ul li a {
	font-size: 16px;
	color: #666666;
	line-height: 48px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.blog__sidebar__item ul li a:hover {
	color: #7fad39;
}

.blog__sidebar__search {
	margin-bottom: 50px;
}

.blog__sidebar__search form {
	position: relative;
}

.blog__sidebar__search form input {
	width: 100%;
	height: 46px;
	font-size: 16px;
	color: #6f6f6f;
	padding-left: 15px;
	border: 1px solid #e1e1e1;
	border-radius: 20px;
}

.blog__sidebar__search form input::placeholder {
	color: #6f6f6f;
}

.blog__sidebar__search form button {
	font-size: 16px;
	color: #6f6f6f;
	background: transparent;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	padding: 0px 18px;
}

.blog__sidebar__recent .blog__sidebar__recent__item {
	display: block;
}

.blog__sidebar__recent .blog__sidebar__recent__item:last-child {
	margin-bottom: 0;
}

.blog__sidebar__recent__item {
	overflow: hidden;
	margin-bottom: 20px;
}

.blog__sidebar__recent__item__pic {
	float: left;
	margin-right: 20px;
}

.blog__sidebar__recent__item__text {
	overflow: hidden;
}

.blog__sidebar__recent__item__text h6 {
	font-weight: 700;
	color: #333333;
	line-height: 20px;
	margin-bottom: 5px;
}

.blog__sidebar__recent__item__text span {
	font-size: 12px;
	color: #999999;
	text-transform: uppercase;
}

.blog__sidebar__item__tags a {
	font-size: 16px;
	color: #6f6f6f;
	background: #f5f5f5;
	display: inline-block;
	padding: 7px 26px 5px;
	margin-right: 6px;
	margin-bottom: 10px;
}

/*---------------------
  Blog Details Hero
-----------------------*/

.blog-details-hero {
	height: 350px;
	display: flex;
	align-items: center;
}

.blog__details__hero__text {
	text-align: center;
}

.blog__details__hero__text h2 {
	font-size: 46px;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 10px;
}

.blog__details__hero__text ul li {
	font-size: 16px;
	color: #ffffff;
	list-style: none;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.blog__details__hero__text ul li:after {
	position: absolute;
	right: -26px;
	top: 0;
	content: "|";
}

.blog__details__hero__text ul li:last-child {
	margin-right: 0;
}

.blog__details__hero__text ul li:last-child:after {
	display: none;
}

/*---------------------
  Blog Details
-----------------------*/

.related-blog {
	padding-top: 70px;
	padding-bottom: 10px;
}

.related-blog-title {
	margin-bottom: 70px;
}

.blog-details {
	padding-bottom: 75px;
	border-bottom: 1px solid #e1e1e1;
}

.blog__details__text {
	margin-bottom: 45px;
}

.blog__details__text img {
	margin-bottom: 30px;
}

.blog__details__text p {
	font-size: 18px;
	line-height: 30px;
}

.blog__details__text h3 {
	color: #333333;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 30px;
}

.blog__details__author__pic {
	float: left;
	margin-right: 15px;
}

.blog__details__author__pic img {
	height: 92px;
	width: 92px;
	border-radius: 50%;
}

.blog__details__author__text {
	overflow: hidden;
	padding-top: 30px;
}

.blog__details__author__text h6 {
	color: #1c1c1c;
	font-weight: 700;
}

.blog__details__author__text span {
	font-size: 16px;
	color: #6f6f6f;
}

.blog__details__widget ul {
	margin-bottom: 5px;
}

.blog__details__widget ul li {
	font-size: 16px;
	color: #6f6f6f;
	list-style: none;
	line-height: 30px;
}

.blog__details__widget ul li span {
	color: #1c1c1c;
	font-weight: 700;
}

.blog__details__widget .blog__details__social a {
	display: inline-block;
	font-size: 20px;
	color: #6f6f6f;
	margin-right: 24px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.blog__details__widget .blog__details__social a:hover {
	color: #7fad39;
}

.blog__details__widget .blog__details__social a:last-child {
	margin-right: 0;
}

.redmore_bt {
    width: 45%;
    margin: 0 auto;
    text-align: center;
}

.redmore_bt a {
    font-size: 18px;
    color: #6e2e1a;
    background-color: #FFC107;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
}

.redmore_bt a {
    color: #fff;
    background-color: #FFC107;
}

.redmore_bt a:hover {
    color: #6e2e1a;
    background-color: #f7edd5;
}

/*=========== Start about_history_area css =============*/
.about_content {
  padding-right: 60px;
  margin-bottom: 60px;
}

.about_content p {
  padding: 18px 0px 30px;
}

.theme_btn_two {	
    font-size: 18px;
    color: #6e2e1a;
    background-color: #FFC107;
    border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 29px;
  margin-bottom: 20px;
}

.theme_btn_two:hover {
    color: #6e2e1a;
    background-color: #f7edd5;
}

.section_title {
  margin-bottom: 75px;
}

.col_mydog {
	float: none;
	margin: 0 auto;
}

/*=========== End about_history_area css =============*/