@charset "UTF-8";

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 800px;
}
section#formHolder {
  padding: 50px 0;
}

.form {
  padding:50px;
  height: 1000px;
  width: 800px;
  margin-top: 50px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  color: #4c4c4c;
  position: relative;
  overflow: hidden;
}
.form form label{
  font-weight: 700;
}

 .form form input:not([type=submit]) {
  background: none;
  border: none;
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #000000;
  color: #444;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
} 



/* 버튼 */
.CTA {
  margin-top: 50px;
}
.CTA button.update {
  width: 30%;
  font-size: 15px;
  text-transform: uppercase;
  padding: 5px 30px;
  background: #f2bb15;
  color: #fff;
  border-radius: 30px;
  margin-right: 20px;
  border: none;
  font-family: "Montserrat", sans-serif;
}

.CTA button.reset {
  width: 30%;
  font-size: 15px;
  text-transform: uppercase;
  padding: 5px 30px;
  background: #717171;
  color: #fff;
  border-radius: 30px;
  margin-right: 20px;
  border: none;
  font-family: "Montserrat", sans-serif;
}
/* 버튼 끝 */
