@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;400;500;700&display=swap');

*{
	font-family: 'Noto Sans KR'
}
 
body{
	-ms-overflow-style: none;
 }
 
::-webkit-scrollbar {
  display: none;
}

a {
    text-decoration: none !important;
    color: inherit
}

a:hover {
    color: #455A64
}

.card {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-rating {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.rating-label {
    font-weight: bold
}

td {
    padding-bottom: 10px
}

.star-active {
    color: #FBC02D;
    margin-top: 10px;
    margin-bottom: 10px
}

.star-active-in-review {
    color: #FBC02D;
    margin-top: 10px;
    margin-bottom: 10px
}

.star-active:hover {
    color: #F9A825;
    cursor: pointer
}

.star-inactive {
    color: #CFD8DC;
    margin-top: 10px;
    margin-bottom: 10px
}

.blue-text {
    color: #0091EA;
    font-size: 16px
}

.content-text {
    font-size: 14px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px
}

.vote {
    cursor: pointer
}

/* 더보기 */
.review-load-btn{
    border:none;
    background-color:#f7edd5;
    color:black;
}

/* 모달윈도우 */

.review-comment-btn{
    border:none;
    background-color:#f7edd5;
    color:black;
}

.review-comment-btn:hover{
    border:none;
    background-color:#F9A825;
    color:black;
}

.review-modal-center {
  margin: auto;
  width: d-flex;
  height: d-flex;
  padding: 10px;
}

.review-comment-content {
    width: 100%;
    margin: 0;
}

.review-cross {
    padding: 10px;
    color: #F9A825;
    cursor: pointer;
    font-size: 23px;
 }

.review-cross i{
    
    margin-top: -5px;
    cursor: pointer;
}

.review-comment-box {
    padding: 5px
}

.review-comment-area textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: 1px solid #F9A825
}

.review-comment-form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(255, 193, 7) !important
}

.review-comment-btn-send {
    color: #fff;
    background-color: #F9A825;
    border-color: #F9A825
}

.review-comment-btn-send:hover {
    color: #fff;
    background-color: #F9A825;
    border-color: #F9A825
}

.review-comment-rating {
   display: inline-flex;
    margin-top: -10px;
    flex-direction: row-reverse;    
}

.review-comment-rating>input {
    display: none
}

.review-comment-rating>label {
    position: relative;
    width: 28px;
    font-size: 35px;
    color: #F9A825;
    cursor: pointer;
}

.review-comment-rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.review-comment-rating>label:hover:before,
.review-comment-rating>label:hover~label:before {
    opacity: 1 !important
}

.review-comment-rating>input:checked~label:before {
    opacity: 1
}

.review-comment-rating:hover>input:checked~label:before {
    opacity: 0.4
}

/* 더보기 버튼 */
/* .card-review {
    display: none;
}
.card-review.active {
    display: block;
}
.is_comp.card-review:after {
    display: none;
}
.review-load-btn, .lists, .main {
    display: block;
}
.main {
    max-width: 640px;
    margin: 0 auto;
}
.lists {
    margin-bottom: 4rem;
}
.lists__item {
    padding: 20px;
    background: #EEE;
}
.lists__item:nth-child(2n) {
    background: #59b1eb;
    color: #fff;
}
.review-load-btn {
    text-align: center;
} */