<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" /> <!-- DB의 언더바_ 변수명을 캐멀 케이스로 변경 -->
	</settings>
	
	<typeAliases>
		<package name="com.jackpot.domain" />	<!-- 패키지 별명 설정 -->	
	</typeAliases>

	<mappers>
		<mapper url = "file:src/main/resources/com/jackpot/mapper/PlaceMapper.xml"/>
		<mapper url = "file:src/main/resources/com/jackpot/mapper/PlaceTypeMapper.xml"/>
	</mappers>
	
</configuration>