<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.galapagos.mapper.ReplyMapper">

	<select id="get" resultType="ReplyVO">
		select * from tbl_reply
		where no = #{no}
	</select>

	<insert id="create">
		<selectKey resultType="Long" keyProperty="no" keyColumn="no" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		
		insert into tbl_reply(cno, loginId, content)
		values(#{cno}, #{loginId}, #{content})
	</insert>
	
	<update id="update">
		update tbl_reply
		set
			content = #{content},
			update_date = now()
		where no = #{no}
	</update>
	
	<delete id = "delete">
		delete from tbl_reply
		where no = #{no}
	</delete>
</mapper>